<h2 id="h2"> Add a Digital Currency </h2>
<div>
<form id="form1" method="POST" action="/bitmof">
  <label for=" coin-name-input"> Enter the coin's name </label>
  <input id="coin-name" name="coinName" type="text" placeholder="Enter the coin's name">
  <br>
  <label for=" coin-ticker-input"> Enter the Ticker of your Digital Currency </label>
  <input id="coin-ticker" name="coinTicker" type="text" placeholder="Enter the Ticker of your Digital Currency">
  <br>
  <label for=" coin-date-input"> Enter the Date it was Founded </label>
  <input id="coin-date" name="coinDate" type="number" min="1" placeholder="Enter the Date it was Founded">
  <br>
  <label for=" coin-image-input"> Enter the logo's link or image </label>
  <input id="coin-image" name="coinImage" type="url" name" New digital currency">
  <br>
  <label for=" coin-founder-input"> Enter the coin's Founders</label>
  <input id="coin-founder" name="coinFounder" type="text"  placeholder="Who found it ? ">
  <button> Add! </button>
</form>
</div>
