
      <!-- <img id="logoBitmof"src="./images/NumeraiLogo.png"> -->

<div class="rich">
<h1>  Welcome to your personal Portofolio </h1>
<div>

    You own <%= wallet %>

  <h2>The Initial value of your Portfolio <p> USD 20,000<p></h2>


<h4> Congrats ! you have invested : <%= total %> USD </h4>

YOUR REMAINING BALANCE IS : <%= balanceAmount %>


<div>
</div>
