<form method="POST" action="/bitmof/buy">
  <label for='coin-amount'>AMOUNT</label>
  <input id="coin-amount" name="coinAmount" type="text" placeholder="Qty">

  <form method="POST" action="/bitmof/buy">
    <label for='coin-name'>Name</label>
    <input id="coin-name" name="coinName" type="text" placeholder="Name">

  <button id="c"> Buy </button>
  <button id="c"> Sell </button>
