



<form method="POST" action="/bitmof/buy">
  <label class="coinP" for='coin-amount'>AMOUNT</label>
  <input class="coinP" id="coin-amount" name="coinAmount" type="text" placeholder="Qty">
  <label class="coinP" for='coin-name'>Name</label>
  <input class="coinP" id="coin-name" name="coinName" type="text" placeholder="Name">
  <button id="c1"> Buy </button>
  <!-- <button id="c"> Sell </button> -->
</form>
