

        
<div class="signUp">
<div class=" title ">
  <h1 id="title1"> DIGITAL CURRENCY SIMULATOR </h1>
  <p id="sentence"> Bitmof is the world’s most popular way to simulate the purchase of Digital Currencies. </p>
  <div class="box"> <p id="boxText"> </p>
  <div id="enter"> <p id="enterText"> Enter your e-mail adress </p>
  </div>
  <div>
  <button id="getStarted"> Get Started
  </button>

</div>
<p id="little"> New to Digital Currencies ?   |   What are Digital Currencies? </p>
</div>
<div class="footer"><img id="a2" src="./images/nyt.png">
</div>
</div>
