<div class='login1' >
<!-- <h2> Log In </h2> -->
<!-- <img src="./images/bitcoinvsethereum.png"> -->

<form  id="forma3" method="post" action="/login">
  <label id='labela3' for="username-input"> Username </label>
  <input class=" inputa3"  id="username-input" type="text" name="loginUsername">
  <br>

  <label id="labela4" for="password-input"> Password </label>
  <input class="inputa4" id="password-input" type="password" name="loginPassword">
  <br>

  <button class="logIn"> Log In </button>
</form>

</div>
